@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Roboto Slab', serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: -webkit-fill-available;
}

.navbar {
    background-color: #3c464b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.nav-main__logo {
    fill: white;
    height: 35px !important;
    width: 200px !important;
}

body{
    height: 100vh;
    min-height: -webkit-fill-available !important;
    background-color: #eaeff1;
}

#root {
    height: 100%;
    height: -webkit-fill-available;
    background-color: #eaeff1;

}

.main {
    height: 85%;
    height: -webkit-fill-available;
}

.card-footer {
    background-color: white;
}


.main--input {
    background-color: white;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all .2s ease;
}

.card:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.4);
}

.edit-button,
.copy-button {
    transition: all .2s ease;
    border-color:rgba(0, 0, 0) !important;
    opacity: 0;
}

.card:hover .edit-button,
.card:hover .copy-button {
    opacity: .55 ;
}

.card:hover .edit-button:hover,
.card:hover .copy-button:hover
 {
    opacity: .95;
}

.card-header {
    transition: all .2s ease;
}

.card:hover .card-header {
    background-color: #ffb900 ;
}