@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

body, html {
    font-family: "Inter","Helvetica","Arial",sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: -webkit-fill-available;
    background-color: white;
}

:root{
    --ps-gray-25: hsl(240, 20%, 99%);
    --ps-gray-50: hsl(210, 20%, 98%);
    --ps-gray-100: hsl(216, 24%, 96%);
    --ps-gray-200: hsl(218, 17%, 91%);
    --ps-gray-300: hsl(217, 16%, 84%);
    --ps-gray-400: hsl(218, 15%, 65%);
    --ps-gray-500: hsl(206, 22%, 43%);
    --ps-gray-600: hsl(216, 18%, 34%);
    --ps-gray-700: hsl(218, 24%, 27%);
    --ps-gray-800: hsl(214, 33%, 17%);
    --ps-gray-900: hsl(220, 43%, 11%);
    
    --ps-prim-25: hsl(264, 100%, 99%);
    --ps-prim-50: hsl(264, 100%, 98%);
    --ps-prim-100: hsl(267, 100%, 96%);
    --ps-prim-200: hsl(287, 40%, 89%);
    --ps-prim-300: hsl(265, 89%, 86%);
    --ps-prim-400: hsl(262, 85%, 77%);
    --ps-prim-500: hsl(260, 77%, 70%);
    --ps-prim-600: hsl(259, 63%, 59%);
    --ps-prim-700: hsl(258, 54%, 52%);
    --ps-prim-800: hsl(256, 48%, 42%);
    --ps-prim-900: hsl(254, 45%, 34%);

    --ps-succ-25: #F6FEF9;
    --ps-succ-50: #ECFDF3;
    --ps-succ-100: #D1FADF;
    --ps-succ-200: #A6F4C5;
    --ps-succ-300: #6CE9A6;
    --ps-succ-400: #32D583;
    --ps-succ-500: #12B76A;
    --ps-succ-600: #039855;
    --ps-succ-700: #027A48;
    --ps-succ-800: #05603A;
    --ps-succ-900: #054F31;

    --ps-error-25: #FFFBFA;
    --ps-error-50: #FEF3F2;
    --ps-error-100: #FEE4E2;
    --ps-error-200: #FECDCA;
    --ps-error-300: #FDA29B;
    --ps-error-400: #F97066;
    --ps-error-500: #F04438;
    --ps-error-600: #D92D20;
    --ps-error-700: #B42318;
    --ps-error-800: #912018;
    --ps-error-900: #7A271A;

    --ps-accent-1-25: #F5F8FF;
    --ps-accent-1-50: #EEF4FF;
    --ps-accent-1-100: #E0EAFF;
    --ps-accent-1-200: #C7D7FE;
    --ps-accent-1-300: #A4BCFD;
    --ps-accent-1-400: #8098F9;
    --ps-accent-1-500: #6172F3;
    --ps-accent-1-600: #444CE7;
    --ps-accent-1-700: #3538CD;
    --ps-accent-1-800: #2D31A6;
    --ps-accent-1-900: #2D3282;

    --ps-accent-2-25: #FFF5F6;
    --ps-accent-2-50: #FFF1F3;
    --ps-accent-2-100: #FFE4E8;
    --ps-accent-2-200: #FECDD6;
    --ps-accent-2-300: #FEA3B4;
    --ps-accent-2-400: #FD6F8E;
    --ps-accent-2-500: #F63D68;
    --ps-accent-2-600: #E31B54;
    --ps-accent-2-700: #C01048;
    --ps-accent-2-800: #A11043;
    --ps-accent-2-900: #89123E;


    --ps-text: var(--ps-gray-900);
    --ps-text-50: var(--ps-gray-500);
    --ps-text-25: var(--ps-gray-300);
    
    --ps-text-medium: var(500);
    
    --ps-border-color: var(--ps-gray-200);
    --ps-border-color-50: var(--ps-gray-100);

    --ps-background: var(--ps-gray-25);
    --ps-navbar-bg: var(--ps-gray-25);
    --ps-shadow-hover: hsl(210, 10%, 85%);
    --ps-table-hover-bg: hsl(210, 50%, 97%);
    --ps-table-hover-color: hsl(220, 50%, 50%);
    --ps-table-border-color: hsl(210, 30%, 94%);
    --ps-border-hover-color: hsl(210, 10%, 70%);
    --ps-table-head-bg: hsl(210, 20%, 96%);
    --ps-table-head-color: var(--ps-text-50);
    --ps-table-head-color-hover: hsl(215, 55%, 45%);
    --ps-btn-bg: hsl(220, 20%, 15%);
    /* --ps-btn-bg-nav-hover: hsl(210, 0%, 97%); */
    --ps-btn-color: hsl(220, 0%, 95%);
    --ps-btn-bg-hover: hsl(215, 35%, 75%);
    --ps-btn-bg-active: hsl(200, 11%, 30%);
    --ps-btn-dark-bg: hsl(200, 11%, 26%);
    --ps-btn-dark-bg-hover: hsl(200, 11%, 35%);
    --ps-accent-yellow: hsl(44, 100%, 47%);
    --ps-accent-yellow-bg: hsl(44, 100%, 65%);
    --ps-accent-yellow-bg-50: hsl(44, 100%, 90%);
}
.text-mute {
    color: var(--ps-text-50);
}

.text-mute-2 {
    color: var(--ps-text-25);
}

.error {
    color: var(--ps-error-600);
}

small {
    font-size: .875rem;
}

.form-label {
    font-weight: 400;
    color: var(--ps-gray-900)
}

.form-control {
    font-weight: 400;
    color: var(--ps-gray-900);
    border: 1px solid var(--ps-gray-300)
}

.form-control:focus {
    color: var(--ps-gray-900);
    border: 1px solid var(--ps-prim-300);
    box-shadow: 0 0 0 .25rem var(--ps-prim-50)
}

.form-control.is-invalid, .was-validated .form-control:invalid {
	border-color: var(--ps-error-300);
}

table,
table .btn,
table .dropdown-item {
    font-size: 14px;
    font-weight: 500;
}

.nav-link {
    font-weight: 500;
    color: var(--ps-text-50);
    transition: all .2s ease-out;
    position: relative;
    width: 100%;
    border-radius: .375rem;
    border: 1px solid transparent
}

.nav-link.active {
	color: var(--ps-prim-600) !important;
    background-color: var(--ps-prim-100);
    border-color: var(--ps-prim-100);
}

.nav-link.active:focus,
.nav-link.active:hover {
	color: var(--ps-prim-700) !important;
    background-color: var(--ps-prim-100);
    border-color: var(--ps-prim-100);
}

.nav-link:focus, 
.nav-link:hover {
	color: var(--ps-prim-500);
    background-color: var(--ps-prim-50);
    border-color: var(--ps-prim-50);
}

.nav-link.disabled {
	color: var(--ps-gray-300);
	pointer-events: none;
	cursor: default;
}

.nav-main__logo {
    height: 80%;
}


.navbar {
    background-color: var(--ps-navbar-bg);
    border-right: 1px solid var(--ps-border-color-50);
    align-items: flex-start;
    max-height: 100vh;
}

.navbar-indicator {
    background-color: var(--ps-accent-yellow);
    color: var(--ps-text);
    font-size: 12px;
    height: 1.5rem;
    min-width: 1.5rem;
    border-radius: 100rem;
}

.navbar--offcanvas {
    background-color: white;
}

.navbar--offcanvas .offcanvas-header {
    border-bottom: 1px solid var(--ps-btn-dark-bg-hover);
    height: 75px;
}

.offcanvas-header .btn-close {
    background-color: white;
}

.navbar--offcanvas {
	--bs-offcanvas-bg: var(--ps-text);
}

.project-edit-offcanvas .offcanvas-header {
    border-bottom: 1px solid var(--ps-border-color);
}

body,
#root,
.app-container {
    min-height: -webkit-fill-available;
    min-height: 100vh;
}

.main {
    overflow-y: scroll;
    min-height: 100%;
    max-width: max(80%, 1300px);
    /* overflow-x: hidden; */
}

.main::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.card-footer {
    background-color: white;
}


.main--input {
    background-color: white;
}

.paginator {
    list-style: none;
    margin: 0;
}

.paginator>li>a {
    height: 2.25rem;
    min-width: 2.25rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    width: auto;
    margin: .5rem 0rem;
    border-top: 1px solid #9096a12f;
    border-bottom: 1px solid #9096a12f;
    background-color: white;
    display: flex;
    align-items: center;
    color: var(--bs-dark)
}

.paginator>li:first-child>a {
    border-left: 1px solid #9096a12f;
    border-radius: .5rem 0 0 .5rem;
}

.paginator>li:last-child>a {
    border-right: 1px solid #9096a12f;
    border-radius: 0 .5rem .5rem 0;
}


.paginator>li * {
    text-decoration: none;
    color: var(--bs-dark)
}

.selected>a {
    background-color: #e1edf5  !important;
    color: #4a5960 !important;
    font-weight: 700;
}

.disabled>a {
    color: rgba(0, 0, 0, 0.164) !important
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18ch;
}

@media (min-width: 1201px) {
    .navbar {
        min-width: 275px;
        padding-top: 1.5rem;
    }

    .offcanvas.offcanvas-start {
        width: 225px !important
    }

    .navbar .flex-column {
        flex-grow: 1;
    }

    .navbar-brand {
        margin-bottom: 3rem;
    }
    
}

@media (max-width: 1200px) and (min-width: 768px) {
    .navbar {
        padding-top: 1.5rem;
        width: 75px
    }

    .nav-link {
        position:relative
    }

    .nav-item>a {
        justify-content: center !important;
    }

    .offcanvas.offcanvas-start {
        width: 75px !important
    }

    .navbar-brand {
        margin-bottom: 3rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        border-right: none;
        box-shadow: 0 .5rem 1rem #24262743;
        align-items: flex-start !important;
    }

    td.table--customer,
    td.table--location {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 15ch;
    }
    tbody>tr::before {
        scale: 0;
        opacity: .5
    }
    .filter-indicator * {
        font-size: 14px;
    }
  }

tr {
    line-height: 3.25rem;
}

tr:hover:not(thead>tr) {
    transition: all .1s ;
}

.header-row {
    border-bottom: 1px solid var(--ps-border-color-50);
}

.border {
	border: var(--bs-border-width) var(--bs-border-style) var(--ps-border-color) !important;
}

.bg-secondary {
	background-color: var(--ps-table-head-color) !important;
}

.table-ps {
	--bs-table-color: var(--bs-body-color);
	--bs-table-bg: white;
	--bs-table-border-color: var(--ps-table-border-color);
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: var(--bs-body-color);
	--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
	--bs-table-active-color: var(--bs-body-color);
	--bs-table-active-bg: rgba(0, 0, 0, 0.1);
	--bs-table-hover-color: var(--ps-prim-600);
	--bs-table-hover-bg: var(--ps-prim-25);
}


.main--search-bar {
    color: var(--ps-text-50);
    border-radius: .375rem;
    transition: all .2s ease;
}

.search-input--search-icon {
    color: var(--ps-text-25)
}

.main--search-bar input::placeholder {
    color: var(--ps-text-25) ;
    transition: all .2s ease;
}

.main--search-bar:hover::placeholder {
    color: var(--ps-table-hover-color);
}

.main--search-bar:hover {
    /* box-shadow: 0 0 1rem var(--ps-shadow-hover); */
    border: 1px solid var(--ps-border-hover-color);

}

.main--search-bar:hover .btn {
	color: var(--ps-table-hover-color);
}

.table > :not(caption) > * > * {
	padding: .5rem .5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.project-edit-icon {
    cursor:pointer;
}

.table-holder  {
    overflow-x: hidden;
    border-radius: 0.375rem;
    border: 1px solid var(--ps-border-color);
    margin: 1rem 0;
    transition: all .2s ease;
}


.table {
    letter-spacing: -.35px;
    color: var(--ps-text-50);
}

.table--head {
    line-height: 1.8rem;
    border-bottom: 1px solid var(--ps-border-color);
}

.table--head>th,
.table--head>th>*>button {
    background-color: var(--ps-gray-50);
    border: none;
    color: var(--ps-gray-500);
}

.table--head>th>*>button {
    position: relative
}

.table--head>th>*>button:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 0%; 
    border-bottom:1px solid var(--ps-table-head-color-hover);
    transition: all .3s cubic-bezier(.56,.29,.19,1.75);
}

.table--head>th>*>button:hover::before {
    height  : 1px;
    width   : 100%; 
}

.table--head>th>*>.btn:hover {
    color: var(--ps-table-head-color-hover);
    background-color: transparent;
}

.table--head>th,
.table--head>th button {
    font-weight: 500;
}


.strong {
    font-weight: 600;
    letter-spacing: .25px;
}

.weak {
    color:#7a808d
}

.main--card {
    border-radius: 1rem;
}

th, 
td {
    padding: .5rem .675rem !important;
}

h2 {
    color: var(--ps-text);
    font-weight: 600;
    letter-spacing: 1px;
}

h5 {
    color: var(--ps-text);
    font-weight: 600;
    letter-spacing: -.75px;
}

.main--search-input {
    border: none;
    color: var(--ps-btn-color);
    font-weight: 500;
}


.main--search-bar .btn.search-input--delete {
    border-left: none !important;
}

.search-input--search-icon {
    position: relative;
    top: -1.5px
}

.search-input--delete-icon {
    position: relative;
    top: -1.5px
}

.main--search-bar {
    min-width: 200px;
    border: 1px solid var(--ps-border-color)
}

light {
    font-weight: 400;
}

.new-project-counter-icon {
    position: relative;
}

span#status-0{
    color: var(--ps-accent-1-600);
    border-radius: 2rem;
    background-color: var(--ps-accent-1-50);
}

span#status-1{
    color: var(--ps-succ-600);
    border-radius: 2rem;
    background-color: var(--ps-succ-50);
}

span#status-2{
    color: var(--ps-accent-2-700);
    border-radius: 2rem;
    background-color: var(--ps-accent-2-50);
}


/* modal */

.modal, 
.modal textarea {
    color:var(--ps-text)
}

.modal label{
    color:var(--ps-text-50)
}

.modal {
	--bs-modal-border-width: 0;
	--bs-modal-header-border-width: 0;
	--bs-modal-footer-border-width: 0;
}

.button-group {
    /* background-color: var(--ps-table-head-bg); */
    border: 1px solid var(--ps-border-color);
    overflow: hidden;
}

.button-group button {
    color: var(--ps-text-25);
    background-color: transparent;
    transition: all .25s ease-out;
    border: none;
    border-radius: .25rem !important;
}

button#status-0.Mui-selected{
    background-color: white;
    color: hsla(210, 50%, 40%);
    box-shadow: 0 0 1rem hsla(210, 35%, 55%);
}

button#status-1.Mui-selected{
    color:hsl(174, 34%, 40%);
    background-color: white;
    box-shadow: 0 0 1rem hsla(174, 20%, 55%);
}

button#status-2.Mui-selected{
    color:hsla(1, 60%, 40%);
    background-color: white;
    box-shadow: 0 0 1rem hsla(1, 20%, 55%);
}

.modal--status-switch>span {
    position: relative;
    top: 1px;
    font-weight: 500;
}


.btn-ps-prim {
    font-weight: 500;
    --bs-btn-color: white;
    --bs-btn-bg: var(--ps-prim-600);
    --bs-btn-border-color: var(--ps-prim-600);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--ps-prim-700);
    --bs-btn-hover-border-color: var(--ps-prim-700);
    --bs-btn-focus-shadow-rgb: 244,235,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-ps-accept:hover,
.btn-ps-new:hover {
    /* box-shadow: 0 0 1rem var(--ps-shadow-hover); */
    border: 1px solid var(--ps-border-hover-color);

}

.btn-ps-outline {
    --bs-btn-color: var(--ps-prim-700);
    --bs-btn-bg: var(--ps-prim-50);
    --bs-btn-border-color: var(--ps-prim-50);
    --bs-btn-hover-color: var(--ps-prim-700);
    --bs-btn-hover-bg: var(--ps-prim-100);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-ps-outline-border {
    --bs-btn-color: var(--ps-prim-700);
    --bs-btn-bg: var(--ps-prim-50);
    --bs-btn-border-color: var(--ps-prim-300);
    --bs-btn-hover-color: var(--ps-prim-700);
    --bs-btn-hover-bg: var(--ps-prim-100);
    --bs-btn-hover-border-color: var(--ps-prim-300);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd; 
}

.btn-ps-dropdown-item {
    font-weight: 500;
    --bs-btn-color: var(--ps-text);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	color: hsla(210, 45%, 80%);
    background-color: var(--ps-table-hover-bg);
    pointer-events: auto;
    cursor: not-allowed !important;
	border-color: transparent;
	opacity: 1;
}

.form-check-input {
    position: relative;
    top: -2px
}

.no-results {
    line-height: 12rem;
    border: none;
}

.MuiOutlinedInput-notchedOutline {
    border-color: var(--ps-border-color) !important;
}


.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--ps-border-hover-color) !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:focus .MuiOutlinedInput-notchedOutline,
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root:focus .MuiOutlinedInput-notchedOutline,
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:focus .MuiOutlinedInput-notchedOutline {
    border-color: var(--ps-table-hover-color) !important;
    border-width: 2px;
}

.status-description {
    font-weight: 500;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: var(--ps-table-hover-color);
	background-color: var(--ps-background);
    border-radius: .375rem;
}

.dropdown-menu .dropdown-item:first-child {
    position:relative;
}

.dropdown-menu .dropdown-item:first-child::after {
    content: '';
    width: 80%;
    bottom: 0;
    position:absolute;
    height: 1px;
    background-color: var(--ps-border-color);
}

.dropdown-menu {
	border: var(--bs-dropdown-border-width) solid var(--ps-table-border-color);
	border-radius: var(--bs-dropdown-border-radius);
    box-shadow: 0 0 1rem 1px var(--ps-shadow-hover);
    --bs-dropdown-padding-y: 0;
    padding: .5rem;
}

.table .dropdown-menu {
    max-height: 220px;
    overflow-y: auto;
}

.table--head a:not(.status-toggle) {
    /* height: 1.5rem;
    line-height: 1.5rem; */
}

.user-name-toggle:nth-child(2) {
    margin-top: .25rem;
}

.placeholder {
    opacity: .35 !important;
}

/* tbody>tr{
    position: relative;
}

tr:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 100%; 
    border-bottom:1px solid var(--ps-table-head-color-hover);
    transition: all .5s ease;
    scale: 0;
    opacity: .5

}

tbody>tr:hover::before {
    scale: 1;
} */

span.strong {
    background-color: var(--ps-table-hover-bg);
    border-radius: .2rem;
    padding: .25rem;
}

/* checkbox */ 

.form-check-input[type="checkbox"] {
	border-color: var(--ps-border-color);
    border-radius: 100%;
}

.form-check-input:checked {
	background-color: var(--ps-table-hover-color);
    border-color: var(--ps-table-hover-color);
}

.project-edit-icon {
    height: 2rem;
    width: 2rem;
    transition: all .15s ease;
}

/* tooltip */

.ps-tooltip {
    --bs-tooltip-bg: hsl(200, 15%, 26%);
    --bs-tooltip-color:  white;
    margin: 0;
    padding: 0;
    border-radius: .5rem;
    box-shadow: 0 0 18px hsla(200, 8%, 15%, 0.3);
}


.filter-indicator >.btn {
    --bs-btn-color: var(--ps-btn-color);
    --bs-btn-bg: var(--ps-btn-bg);
    --bs-btn-border-color: var(--ps-btn-bg);
    --bs-btn-hover-color: var(--ps-btn-bg);
    --bs-btn-hover-bg: var(--ps-btn-color);
    --bs-btn-hover-border-color: var(--ps-btn-bg);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    font-weight: 500;
    font-size: 14px;
    transition: all .2s ease;
}

.filter-indicator .filter-icon {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.filter-indicator .filter-description {
    border-left: none;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
	color: var(--bs-btn-active-color);
	background-color: var(--ps-btn-bg-active);
	border-color: var(--ps-btn-bg-active);
}

/* cards */

.card {
    --bs-card-border-color: var(--ps-border-color);
    overflow: hidden;
    color: var(--ps-text);
    transition: all .2s ease;
}

.card:hover {
    border: 1px solid var(--ps-border-hover-color);
}

.card .summary-card--image>img {
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: .375rem;
    overflow: hidden;
}

.summary-card--svg {
    background-color: var(--ps-accent-yellow-bg-50);
    height: 60px;
    width: 60px;
}

.summary-card--svg>svg {
    fill: var(--ps-accent-yellow);
}

.card-header {
	border-bottom: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    color: var(--ps-text-50)
}

.card-image {
    scale: 1.75;
}


.offcanvas.offcanvas-end {
	top: 0;
	right: 0;
	width: 500px;
	border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
	transform: translateX(100%);
}

.status-switch-buttons>button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

/* signup */

.signup-form,
.login-form {
    max-width: 500px;
}

.section {
    border-top: 1px solid var(--ps-border-color);
}
